{% extends "base.html" %}
{% block content %}
     <table>
        <tr>
            <th>Partnumber</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        {% for basket in baskets %}
        <tr>
            <td>{{ basket.partnumber }}
            </td>
            <td>{{ basket.item }}</td>
            <td>{{ basket.price }}</td>
            <td>
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="number" value="{{ basket.quantity }}" name="quant" pattern="^[0-9]+$">
                    <input type="hidden" name="b_pk" value="{{ basket.pk }}">
                    <input type="submit" value="Save" name="save">
                </form>
            </td>
            <td>{{ basket.sum_total }}</td>
            <td>
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="b_pk" value="{{ basket.pk }}">
                    <input type="submit" value="Delete" name="del">
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>Summary: {{ summ }}</td>
        </tr>
        <td></td>
    </table>
    <br>
    <a href="{% url 'shop_home' %}"><h3>Continue to buy!!!</h3></a>
    <form method="post" action="{% url 'add_order' %}">
    {% csrf_token %}
        <input type="radio" name="payment_type" value="card"> Pay by card!<br>
        <input type="radio" name="payment_type" value="check"> Request a check!<br>
        <input type="hidden" name="total" value="{{ summ }}">
        <input type="submit" value="Cash out">
    </form>
{% endblock %}